<div class="panel panel-default panel-no-border">

    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <table class="table table-striped table-bordered splynx-table">
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Full name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for customer in customersList %}

                    <tr>
                        <td>{{ customer.id }}</td>
                        <td><a href="{{ Url.toRoute(['/view?id='~customer.id]) }}">{{ customer.login }}</a></td>
                        <td>{{ customer.name }}</td>
                        <td><label class="label {{ customer.getStatusClass() }}">{{ customer.status | capitalize }}</label></td>
                        <td>
                        <a href="{{ Url.toRoute(['/view?id='~customer.id]) }}" title="View" class="action-bt"><i class="fa fa-list"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
