{{ use('/yii/widgets/ActiveForm') }}
{{ use('app/widgets/Alert') }}

<div class="modal-header">
    <h4 class="modal-title">{{ this.title }}</h4>
    <button type="button" class="close" data-dismiss="modal">X</button>
</div>
<div class="modal-body">
    <div class="panel panel-default panel-no-border">
        <div class="scrollable-x splynx-table-wrap">

            <div class="form">
                {% set active_form = active_form_begin({
                    'id': 'service-info',
                    'enableClientValidation': true,
                    'enableAjaxValidation': false,
                    'options':{
                        'class': 'ajax-form'
                    }
                }) %}

                {{ active_form.field(service, 'tariff_id').dropDownList(tariffDorpDown, {'prompt': '- Select Tariff'}) | raw }}
                {{ active_form.field(service, 'unit_price').textInput() | raw }}
                {{ active_form.field(service, 'quantity').textInput() | raw }}
                {% if type == 'internet' %}
                    {{ active_form.field(service, 'login').textInput() | raw }}
                {% endif %}
                {% if type == 'voice' %}
                    {{ active_form.field(service, 'phone').textInput() | raw }}
                {% endif %}

                {{ active_form.field(service, 'start_date').widget('yii\\jui\\DatePicker', {dateFormat: 'yyyy-MM-dd', 'options': {'class': 'form-control'}}) | raw }}
                {{ active_form.field(service, 'end_date').widget('yii\\jui\\DatePicker', {dateFormat: 'yyyy-MM-dd', 'options': {'class': 'form-control'}}) | raw }}


                {{ active_form.field(service, 'description').textInput() | raw }}
                {{ active_form.field(service, 'status').dropDownList(service.getStatusList(),{'prompt': '- Select Status'}) | raw }}

                {{ Html.submitButton('Submit', {
                    'class': 'btn btn-primary',
                    'name': 'send-button'
                }) | raw }}
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>