{{ use('/yii/widgets/ActiveForm') }}
{{ use('app/widgets/Alert') }}

<div class="panel panel-default panel-no-border">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="customer-tab">
            <li class="active"><a href="#1" data-toggle="tab"><strong>Edit Customer </strong></a></li>
            <li><a href="#2" data-toggle="tab"><strong>Services</strong></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">

                <div class="panel-body">
                    <div class="scrollable-x splynx-table-wrap">
                        {% if message %}
                            {{ alert_widget() }}
                        {% endif %}
                        <div class="form">
                            {% set active_form = active_form_begin({
                                'id': 'customer-info',
                                'enableClientValidation': true,
                                'enableAjaxValidation': true
                            }) %}

                            {{ active_form.field(customer, 'login').textInput() | raw }}
                            {{ active_form.field(customer, 'name').textInput() | raw }}
                            {{ active_form.field(customer, 'phone').textInput() | raw }}
                            {{ active_form.field(customer, 'email').textInput() | raw }}
                            {{ active_form.field(customer, 'status').dropDownList(customer.getStatusList(),{'prompt': '- Select Status'}) | raw }}

                            {{ Html.submitButton('Submit', {
                                'class': 'btn btn-primary',
                                'name': 'send-button'
                            }) | raw }}
                        </div>
                        {{ active_form_end() }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="2">
                
                <div class="panel-body">
                    <div class="scrollable-x splynx-table-wrap">
                        <h3>Internet Service</h3>
                        <div class="col-10"><a
                                    href="{{ Url.to(['/add-service?customer='~customer.id~'&type=internet']) }}"
                                    data-target="#addServiceModal"
                                    class="btn btn-primary pull-right add-service">Add Internet Service</a></div>
                        <table class="table table-striped table-bordered splynx-table">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Plan</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {% for service in internetService %}

                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.description }}</td>
                                    <td>{{ service.getTariff().title }}</td>
                                    <td>{{ service.unit_price | number_format(2, '.', ',') }}</td>
                                    <td>{{ service.start_date }}</td>
                                    <td>{{ service.end_date }}</td>
                                    <td>
                                        <label class="label {{ service.getStatusClass() }}">{{ service.status | capitalize }}</label>
                                    </td>
                                    <td>
                                        <a href="{{ Url.to(['/edit-service?id='~service.id~'&type=internet']) }}"
                                           title="Edit" class="action-bt add-service" data-target="#addServiceModal"><i
                                                    class="fa fa-edit"></i></a>
                                        <a href="{{ Url.to(['/delete-service?id='~service.id~'&type=internet']) }}" class="action-bt"
                                           onclick="if(!confirm('Are you sure you want to delete service ?')) return false"
                                           title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="scrollable-x splynx-table-wrap">

                        <h3>Voice Service</h3>
                        <div class="col-10"><a
                                    href="{{ Url.to(['/add-service?customer='~customer.id~'&type=voice']) }}"
                                    data-target="#addServiceModal"
                                    class="btn btn-primary pull-right add-service">Add Voice Service</a></div>

                        <table class="table table-striped table-bordered splynx-table">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Plan</th>
                                <th>Price</th>
                                <th>Phone</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {% for service in voiceService %}

                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.description }}</td>
                                    <td>{{ service.getTariff().title }}</td>
                                    <td>{{ service.unit_price | number_format(2, '.', ',') }}</td>
                                    <td>{{ service.phone }}</td>
                                    <td>{{ service.start_date }}</td>
                                    <td>{{ service.end_date }}</td>
                                    <td>
                                        <label class="label {{ service.getStatusClass() }}">{{ service.status | capitalize }}</label>
                                    </td>
                                    <td>
                                        <a href="{{ Url.to(['/edit-service?id='~service.id~'&type=voice']) }}"
                                           title="Edit" class="action-bt add-service" data-target="#addServiceModal"><i
                                                    class="fa fa-edit"></i></a>
                                        <a href="{{ Url.to(['/delete-service?id='~service.id~'&type=voice']) }}" class="action-bt"
                                           onclick="if(!confirm('Are you sure you want to delete service ?')) return false"
                                           title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="scrollable-x splynx-table-wrap">
                        <h3>Other Service</h3>
                        <div class="col-10"><a
                                    href="{{ Url.to(['/add-service?customer='~customer.id~'&type=custom']) }}"
                                    data-target="#addServiceModal"
                                    class="btn btn-primary pull-right add-service">Add Custom Service</a></div>
                        <table class="table table-striped table-bordered splynx-table">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Plan</th>
                                <th>Price</th>
                                <th>Phone</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {% for service in customService %}

                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.description }}</td>
                                    <td>{{ service.getTariff().title }}</td>
                                    <td>{{ service.unit_price | number_format(2, '.', ',') }}</td>
                                    <td>{{ service.phone }}</td>
                                    <td>{{ service.start_date }}</td>
                                    <td>{{ service.end_date }}</td>
                                    <td>
                                        <label class="label {{ service.getStatusClass() }}">{{ service.status | capitalize }}</label>
                                    </td>
                                    <td>
                                        <a href="{{ Url.to(['/edit-service?id='~service.id~'&type=custom']) }}"
                                           title="Edit" class="action-bt add-service" data-target="#addServiceModal"><i
                                                    class="fa fa-edit"></i></a>
                                        <a href="{{ Url.to(['/delete-service?id='~service.id~'&type=custom']) }}" class="action-bt"
                                           onclick="if(!confirm('Are you sure you want to delete service ?')) return false"
                                           title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addServiceModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

